@media screen and (min-width: 1024px) {
  /* Header start */
  .navigation_bar_container {
    display: none;
  }
  .navigation_bar_container_desktop {
    display: flex;
    align-items: center;
    min-height: 100px;
    width: 100%;
    justify-content: space-between;
    padding: 0px 40px;
  }
  .left_nav_bar {
    display: flex;
    gap: 30px;
    align-items: center;
  }
  .right_nav_bar {
    display: flex;
    gap: 30px;
    align-items: center;
  }
  #point_shop p,
  .left_nav_bar a,
  .right_nav_bar a {
    display: block;
    text-decoration: none;
    color: black;
    font-family: "GT America Trial Standard Regular";
    font-size: 13px;
    line-height: 18px;
    font-weight: 400;
    cursor: pointer;
    transition: all 0.2s ease;
  }
  #point_shop p:hover,
  .left_nav_bar a:hover,
  .right_nav_bar a:hover {
    padding-bottom: 5px;
    border-bottom: 4px solid #c4c4c4;
  }
  .right_nav_bar img {
    transition: all 0.2s ease;
    cursor: pointer;
  }
  .right_nav_bar img:hover {
    transform: scale(1.2);
  }
  .menu_contact {
    margin: 0;
  }

  .breadcrumbs_container {
    position: relative;
    height: 40px;
    border-top: 1px solid #e9ebf3;
    margin-bottom: 0px;
  }
  .breadcrumbs_wrapper {
    height: 40px;
    display: flex;
    align-items: center;
    gap: 5px;
    padding-left: 40px;
  }
  .breadcrumbs_wrapper a {
    color: black;
    text-decoration: none;
    font-family: "GT America Trial Standard Light";
    font-size: 12px;
    line-height: 15.1px;
    font-weight: 400;
  }
  .now_crumb {
    color: grey !important;
  }
  /* Shop slider start */
  .shop_points_bar {
    display: grid;
    grid-template-columns: 1fr 4fr;
    width: 100%;
    height: 0;
    overflow: hidden;
    background-color: white;
    position: absolute;
    top: 100px;
    transition: all 800ms ease;
    z-index: 3;
  }
  .show_shop {
    height: 380px;
  }
  .shop_points_bar_text {
    margin: 50px 60px 152px 44px;
  }
  .shop_points_bar_text h3 {
    font-family: "Maison Neue Extended";
    font-size: 14px;
    line-height: 19px;
    font-weight: 700;
  }
  .text_box_container {
    height: 124px;
    margin-top: 35px;
    overflow: visible;
  }
  .text_box_point h4 {
    font-family: "GT America Trial Standard Light";
    font-size: 13px;
    line-height: 18px;
    white-space: nowrap;
    padding-bottom: 5px;
    display: inline;
    cursor: pointer;
    transition: all 300ms ease;
  }
  .text_box_point.swiper-slide-thumb-active h4 {
    border-bottom: 4px solid #c4c4c4;
  }
  .drugs_container {
    width: 100%;
    margin-top: 50px;
  }
  .performance_wrapper,
  .longevity_wrapper,
  .immunity_wrapper {
    width: 100%;
  }
  .performance_slide,
  .longevity_slide,
  .immunity_slide {
    min-height: 255px;
    max-width: 250px;
    position: relative;
  }
  .shop_now {
    display: grid;
    align-items: center;
    width: 100%;
    position: absolute;
    bottom: 40px;
    background-color: yellow;
    text-align: center;
    height: 0px;
    overflow: hidden;
    transition: all 200ms ease;
    font-family: "GT America Trial Standard Regular";
    font-weight: 400;
    font-size: 13px;
    line-height: 18px;
    cursor: pointer;
  }
  .shop_now a {
    text-decoration: none;
    color: black;
  }
  .performance_slide:hover .shop_now,
  .longevity_slide:hover .shop_now,
  .immunity_slide:hover .shop_now {
    height: 56px;
  }
  .performance_slide:hover,
  .longevity_slide:hover,
  .immunity_slide:hover {
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  }
  .drug_card {
    max-width: 250px;
    min-height: 255px;
    display: grid;
    grid-template-rows: repeat(2, auto);
    justify-items: center;
    background-color: #e9ebf3;
  }
  .performance_slide h3,
  .longevity_slide h3,
  .immunity_slide h3 {
    margin-top: 18px;
    font-family: "Maison Neue Extended";
    font-size: 16px;
    line-height: 21px;
    font-weight: 700;
    text-align: center;
  }
  .drug_card img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  /* Shop slider end */
  /* Header end */

  /* Main start */
  .top_proposition_container {
    background: linear-gradient(90deg, #f7f8fb 70%, #c6eaf7 30%);
  }
  .top_proposition_wrapper {
    display: grid;
    grid-template-columns: 2fr 1fr;
    padding: 0;
  }
  .top_proposition_text {
    padding: 180px 0px 220px 40px;
    max-width: 544px;
  }
  .top_proposition_text h1 {
    font-size: 50px;
    line-height: 57px;
    padding-bottom: 24px;
    white-space: nowrap;
  }
  .top_proposition_text p {
    margin-bottom: 36px;
  }
  .top_proposition_btn {
    cursor: pointer;
    transition: all 200ms ease;
  }
  .top_proposition_btn:hover {
    background-color: #4a4a4a;
    padding: 20px 35.9px 20px 36.01px;
  }
  .top_proposition_btn a {
    text-transform: uppercase;
  }
  .top_proposition_img {
    display: grid;
    justify-items: center;
    width: 300px;
    margin-right: 100px;
  }
  .top_proposition_img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  .ingredients_wrapper {
    padding: 100px 40px;
  }
  .ingredients_title {
    display: grid;
    justify-items: center;
  }
  .ingredients_title h2 {
    font-size: 30px;
    line-height: 35px;
    padding-bottom: 24px;
  }
  .ingredients_title p {
    max-width: 732px;
  }
  .ingredients_btn {
    padding: 21.43px 99.43px 22.57px 98.57px;
    cursor: pointer;
    transition: all 200ms ease;
  }
  .ingredients_btn:hover {
    background-color: #4a4a4a;
    padding: 21.43px 95.43px 22.57px 94.57px;
  }
  .ingredients_cards {
    display: grid;
    grid-template-columns: 1fr;
    column-gap: 0;
    row-gap: 48px;
    padding-top: 120px;
  }
  .ingredients_cards_first_column,
  .ingredient_card_hidden_row {
    display: grid;
    column-gap: 28px;
    grid-template-columns: repeat(3, 1fr);
    justify-items: center;
  }
  .ingredients_cards_second_column {
    display: none;
  }

  .ingredient_card {
    height: 372px;
    width: 280px;
  }
  .plants {
    width: 252px;
    height: 220px;
    margin-top: 24px;
    justify-self: center;
  }
  .i_i_btn {
    top: 12px;
    right: 12px;
    cursor: url(../../images/custom_pointer.svg), auto;
  }
  .tippy-content {
    padding: 62px 30px 58.97px 30px;
  }
  .ingredient_card h4 {
    min-width: 252px;
    height: 25px;
    font-size: 20px;
    line-height: 25px;
    padding-bottom: 3px;
    margin: 12px 12px 0px 12px;
  }
  .ingredient_card p {
    margin: 0px 24px 24px 12px;
  }

  .phd_review_container {
    background-color: #faf7f4;
  }
  .phd_review_wrapper {
    padding: 0;
    display: flex;
    flex-direction: row-reverse;
    gap: 70px;
    justify-content: space-between;
  }
  .phd_review_wrapper img {
    width: 470px;
    height: 588px;
    margin: 84px 40px 84px 0px;
  }
  .phd_text_review {
    padding: 0px 0px 0px 40px;
    max-width: 732px;
  }
  .phd_text_review h2 {
    font-size: 30px;
    line-height: 35px;
    padding: 98px 0px 12px 0px;
  }
  .phd_text_review h4 {
    font-family: "Maison Neue Extended";
    font-size: 16px;
    line-height: 21px;
    font-weight: 700;
    letter-spacing: 0.05em;
    padding-bottom: 24px;
    border-bottom: 2px solid black;
  }
  .phd_text_review p {
    padding-top: 24px;
    padding-right: 84px;
  }

  .join_us_wrapper {
    display: flex;
    flex-direction: row;
    padding: 0px 40px;
    background-color: #e9ebf3;
    justify-items: none;
    justify-content: space-between;
    min-height: 200px;
  }
  .join_us_left {
    display: flex;
    flex-direction: column;
    padding: 60px 0px 82px 0px;
  }
  .join_us_wrapper h3 {
    font-size: 20px;
    line-height: 25px;
    text-align: start;
  }
  .join_us_wrapper p {
    text-align: start;
    padding-bottom: 0;
  }
  .join_us_right {
    display: flex;
    flex-direction: row;
    padding: 80px 0px 79px 0px;
    gap: 24px;
    align-items: center;
  }
  .join_us_input {
    height: 41px;
    margin-bottom: 0;
    padding-bottom: 18px;
    color: #707784;
    min-width: 430px;
  }
  .join_us_input::placeholder {
    transition: all 200ms ease;
  }
  .join_us_wrapper a {
    padding-top: 16px;
    transition: all 200ms ease;
  }
  .join_us_wrapper a:hover {
    color: #707784;
    border-bottom: 4px solid #707784;
  }

  /* Footer start */

  .footer_wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 50px;
  }
  .logo_and_text {
    padding: 80px 0px 0px 40px;
  }
  .footer_logo {
    padding: 0px 0px 24px 0px;
  }
  .footer_text {
    padding: 0;
  }
  .footer_points {
    padding-bottom: 0;
    padding: 80px 40px 60px 0px;
    margin: 0;
    display: flex;
    gap: 72px;
    border-bottom: none;
  }

  .company,
  .support,
  .legal,
  .social {
    display: flex;
    flex-direction: column;
  }
  .point_company,
  .point_support,
  .point_legal,
  .point_social {
    display: flex;
    align-items: center;
    transition: all 700ms ease;
  }
  .point_company h2,
  .point_support h2,
  .point_legal h2,
  .point_social h2 {
    padding-bottom: 16px;
  }
  .point_company img,
  .point_support img,
  .point_legal img,
  .point_social img {
    display: none;
  }

  .point_company_points,
  .point_support_points,
  .point_legal_points,
  .point_social_points {
    max-height: 100%;
    padding: 0;
  }

  .point_company_points a,
  .point_support_points a,
  .point_legal_points a,
  .point_social_points a {
    font-family: "GT America Trial Standard Regular";
    font-size: 14px;
    line-height: 17.61px;
    letter-spacing: 0;
    text-transform: capitalize;
    white-space: nowrap;
    transition: all 200ms ease;
  }
  .point_company_points a:hover,
  .point_support_points a:hover,
  .point_legal_points a:hover,
  .point_social_points a:hover {
    color: #707784;
  }

  .points_show {
    padding: 0;
  }
  .footer_end {
    margin: 0px 40px 0px 40px;
  }
  .footer_end p {
    border-top: 2px solid #707784;
    padding: 21px 0px 21px 0px;
    font-family: "Open Sans";
    font-size: 11px;
    line-height: 150%;
    font-weight: 400;
  }
  /* Footer end */
}

@media screen and (min-width: 1440px) {
  .wrapper {
    max-width: 1440px;
    margin: 0 auto;
  }
  .navigation_bar_container_desktop {
    padding: 0px 84px;
  }
  /* Header start */
  .left_nav_bar {
    gap: 40px;
  }

  .breadcrumbs_wrapper {
    padding-left: 84px;
  }
  /* Shop slider start */
  .shop_points_bar {
    max-width: 1440px;
  }
  .shop_points_bar_text {
    margin: 50px 226px 152px 74px;
  }

  .performance_slide,
  .longevity_slide,
  .immunity_slide {
    min-height: 255px;
    max-width: 250px;
    position: relative;
  }
  /* Shop slider end */
  /* Header end */

  /* Main start */
  .top_proposition_container {
    background: linear-gradient(90deg, #f7f8fb 948px, #c6eaf7 492px);
  }
  .top_proposition_wrapper {
    padding: 0;
    flex-direction: row;
    gap: 200px;
  }
  .top_proposition_text {
    padding-left: 84px;
  }

  .top_proposition_img {
    display: grid;
    justify-items: center;
    width: 680px;
    padding-right: 330px;
    margin-right: 0;
  }

  .ingredients_wrapper {
    padding: 100px 222px;
  }

  .ingredients_cards {
    display: grid;
    grid-template-columns: 1fr;
    column-gap: 0;
    row-gap: 48px;
    padding-top: 120px;
  }

  .ingredient_card {
    height: 372px;
    width: 300px;
  }

  .tippy-content {
    padding: 62px 30px 58.97px 30px;
  }
  .ingredient_card h4 {
    margin: 12px 24px 0px 24px;
  }
  .ingredient_card p {
    margin: 0px 24px 24px 24px;
  }

  .phd_review_wrapper img {
    margin: 84px 84px 84px 0px;
  }
  .phd_text_review {
    padding: 0px 0px 0px 84px;
  }
  .phd_text_review p {
    padding-top: 24px;
    padding-right: 0px;
  }

  .join_us_wrapper {
    padding: 0px 84px;
  }
  /* Footer start */

  .logo_and_text {
    padding: 80px 0px 0px 84px;
  }
  .footer_points {
    padding-bottom: 0;
    padding: 80px 108px 60px 0px;
  }
  .footer_end {
    margin: 0px 84px 0px 84px;
  }
  /* Footer end */
}
